body {
    display: grid;
    grid-template-columns: 300px auto auto;
    grid-template-rows: 100px 300px 300px 100px;
    grid-template-areas: 
    "header header header"
    "sidebar content-1 content-1"
    "sidebar content-2 content-3"
    "footer footer footer";
}

header {
    border: 1px solid black;
    grid-area: header;
}

sidebar {
    border: 1px solid black;
    grid-area: sidebar;
    padding-left: 20px;;
}

content-1 {
    background: #312829;
    border: 1px solid black;
    grid-area: content-1;
}

content-2 {
    border: 1px solid black;
    grid-area: content-2;
}

content-3 {
    border: 1px solid black;
    grid-area: content-3;
}

footer {
    border: 1px solid black;
    grid-area: footer;
}

img {
    height: 300px;
}


#photo4 {
    transform: rotate(90deg);
    width: 300px;
    height: 500px;
    position: relative;
    top: -102px;
    left: 100px;
}

#photo5 {
    transform: rotate(270deg) scale(0.75, 1.1);
    width: 300px;
    height: 500px;
    position: relative;
    top: -105px;
    left: 350px;
    border: 1px solid white;
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#photo1 {
    filter: brightness(170%) hue-rotate(220deg);
    padding-right: 10px;
}

#section01 {
    display: flex;
    flex-direction: row;
    padding-right: 10px;
}

#photo3 {
    padding-right: 10px;
}

#section02 {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    text-align: right;
}

footer p {
    text-align: center;
    position: relative;
    top: 20px;
}

#new {
    color: black;
    animation: wiggleNew 1s 2s;
}

@keyframes wiggleNew {
    0% {color: black; rotate:0;}
    25% {color: red; rotate:5deg;}
    75% {color: red; rotate:-5deg;};
    100% {color: black; rotate:0;}
}

content-2 h2 {
    text-align: right;
}