h1 {
    color: blue;
}

.home {
    width: 200px;
    height: 200px;
}


#album {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.home:hover {
    position: relative;
    top: 20px;
    width: 250px;
    height: 250px;
}

body {
    text-align: center;
}

nav {
    width: 100%;
    height: 30px;
    background-color: lightblue;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 0px 15px;
}

nav ul li a {
    text-decoration: none;
    font-size: 16px;
    font-family: Arial;
    font-weight: bold;
    color: black;
}

ul li a:hover {
    color: pink;
}

footer {
    background-color: aliceblue;
    position: absolute;
    bottom: 0px;
    height: 40px;
    width: 100%;
    text-align: center;
}

.aboutpage {
    float: right;
}

#about {
    display: flex;
    width: 300px;
    height: 300px;
    position: relative;
    top: 50px;
    left: 50px;
}

#thefame {
    position: relative;
    top: 20px;
    left: 20px;
    z-index: 2;
}

#guts {
    position: relative;
    top: 200px;
    left: -200px;
    z-index: 1;
}

 #intro {
    float: right;
 }

