* {
    background-color: #D3CBC4;
    color: #204952
}

.ephesis-regular {
  font-family: "Ephesis", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #48192E
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 40px;
    position: relative;
    top: -60px;
}

#img-format-1 {
    float: left;
    margin: 0px 40px 40px 40px;
    border: 5px solid #48192E

}

#img-format-2 {
    float: right;
    margin: 0px 40px 40px 40px;
    border: 5px solid #48192E
}

#blogPost {
    padding: 0px 40px 40px 40px;
}


#nav {
    clear: both;
    text-align: center;
}

#nav > a {
    margin-right: 100px;
}

#about-paragraph {
    padding: 0px 40px 40px 40px;
}

a:hover {
    color: white;
}