body {
    background-color: #102E4C;
    color: white;
}

h1 {
    font-family: Impact, sans-serif;
    text-align: center;
}

h2 {
    font-family: sans-serif;
    text-align: center;
}

p { 
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#map {
    display: block;
    margin: auto;
    width: 80vw;
}

@media screen and (min-width: 600px) {
    #map {
        width: 50vw;
    }
}

.menu {
    display: none;
}

@media screen and (min-width: 600px) {
    .menu {
        display: flex;
        width: 40vw;
        padding: 1%;
    }
}

footer {
    position: relative;
    bottom: 0px;
    height: 40px;
    width: 100%;
    text-align: center;
}

#footer {
    display: none;
}

@media screen and (min-width: 600px) {
    #footer {
        display: block;
    }
}

.descriptions {
    display: none;
}

@media screen and (min-width: 600px) {
    .descriptions {
        display: flex;
        float: left;
}
}

